@tailwind base;
@tailwind components;
@tailwind utilities;

/* Panning Background Effect with Blue Gradients */
.bg-panning {
  background: linear-gradient(45deg, #003366, #004488, #0055AA, #0066CC, #0077EE);
  background-size: 400% 400%;
  animation: bgPan 10s infinite alternate;
}

/* Keyframes for the Background Panning */
@keyframes bgPan {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Custom body styling */
body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Goal Container or other components */
.goal-container {
  width: 600px;
  height: 200px;
  background: rgba(0, 0, 0, 0.6); /* Add some transparency */
  color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5), -10px -10px 20px rgba(54, 54, 54, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

/* Glassmorphism Effect */
.glass-effect {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Hover Effect */
a:hover {
  color: #f8f8f8;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Example Responsive Utilities */
@media (max-width: 768px) {
  .text-4xl {
    font-size: 2.5rem;
  }

  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
